
<!-- Vue de la page d'accueil de l'appication -->
  <!-- Event Grid -->
  <%= render "banner" %> 
  <section class="bg-light page-section" id="portfolio">
      <div class="row">
      
        <!-- Boucle qui parcours tous les events -->
    
        <%= render "card" %>

      </div>
    
    </div>
  </section>
  

  


  